$bg-blue-light: rgb(243, 37, 37);
$bg-nav-balck: rgb(47, 46, 46);
$bg-light-white: rgb(203, 203, 203);
$gradient-start: #333;
$gradient-end: #555;
$footer-background-color: #333;
$footer-text-color: #fff;
$footer-padding: 20px;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#btn {
  margin-right: 30px;
  padding: 10px 20px;
  background-color: $bg-blue-light;
  color: $bg-nav-balck;
  border-radius: 5px;
}
@media (max-width: 600px) {
  .mainnav {
    background: linear-gradient(to right, $gradient-start, $gradient-end);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    .middlenav {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
    a {
      text-decoration: none;
    }
    .navtag {
      color: $bg-light-white;
      font-size: 15px;
    }
    #navtag:hover {
      color: $bg-blue-light;
    }
    img {
      width: 53px;
      height: 53px;
      border-radius: 30px;
    }
    #btn {
      display: none;
    }
  }
  .try {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slider {
    width: 375px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
  }
  #picture {
    margin-top: 20px;
    width: 375px;
    height: 270px;
    border-radius: 10px;
  }

  .sliders {
    width: 500%;
    height: 500px;
    display: flex;
  }
  .sliders input {
    display: none;
  }
  .slide {
    width: 20%;
    transition: 3s;
  }
  .navigation-manual {
    position: absolute;
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .manual-btn {
    border: 3px solid black;
    padding: 9px;
    border-radius: 13px;
    transition: 0.4s;
    margin-top: -376px;
  }
  .manual-btn:hover {
    background-color: black;
  }
  #radio1:checked ~ .first {
    margin-left: 0;
  }
  #radio2:checked ~ .first {
    margin-left: -20%;
  }
  #radio3:checked ~ .first {
    margin-left: -40%;
  }
  #radio4:checked ~ .first {
    margin-left: -60%;
  }
  .navigation-auto {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 360px;
  }
  .navigation-auto div {
    border: 3px solid black;
    padding: 9px;
    display: flex;
    border-radius: 13px;
    transition: 0.4s;
  }
  .navigation-auto div:not(:last-child) {
    margin-right: 20px;
  }
  #radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: black;
  }
  #radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: black;
  }
  #radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: black;
  }
  #radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: black;
  }
}
// Define the styling for the footer
footer {
  background-color: $footer-background-color;
  color: $footer-text-color;
  padding: $footer-padding;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  gap: 10px;
}

footer {
  background: linear-gradient(to right, $gradient-start, $gradient-end);
}

.small-text {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $bg-light-white;
}
.kontact-container {
  display: none;
  position: absolute;
  top: 100px;
  padding: 70px 20px;
  width: 100%;
  height: 40vh;
}

.kontact-container.active {
  display: block;
  background: linear-gradient(to right, $gradient-start, $gradient-end);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

input {
  border: none;
  padding: 10px;
  background-color: gray;
  margin-top: 20px;
}
::placeholder {
  color: white;
}
button {
  width: 190px;
  height: 30px;
}

#errorBox.show {
  border: 1px solid $bg-blue-light;
  padding: 5px;
  width: 169px;
  color: $bg-blue-light;
}
.tickets {
  width: 100%;
  padding: 20px 10px 20px 10px;
  background: linear-gradient(to right, $gradient-start, $gradient-end);
  color: white;
  display: none;
  height: 40vh;

  position: absolute;
  top: 100px;
}
.tickets.active {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#top-sale {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}
.fa-solid.fa-cart-shopping {
  position: absolute;
  right: 10px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.addTicket {
  display: flex;
  align-items: baseline;
  padding: 10px;
  gap: 10px;
  background-color: #555;
  border: 1px solid $gradient-start;
}
.fa-solid.fa-cart-plus {
  margin-left: auto;
}
#totalPrice {
  font-size: 10px;
}
